body {
    margin-left: 20px;
}

.card {
    width: 500px;
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.innerCard {}

.header {
    border: solid darkgrey 1px;
    color: white;
    padding: auto;
    text-align: center;
    font-size: x-large;
    user-select: none;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(194, 194, 15);
}

.dark {
    background-color: black;
}

.bodyPart {
    align-items: center;
    text-align: center;
}

.bodies {
    align-items: center;
}

.layout1 {}

.layout2 {
    display: flex;
    flex-direction: column;
}

.layout3 {
    display: flex;
    align-items: start;
}

.layout4 {
    display: grid;
    grid-template-columns: auto auto;
}